# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env
.logs/
*.log

# Project specific
htdemucs/
*.mp3
*.mp4
*.wav

# IDEs
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# custom
lyrics_json
lyrics_text
media
.ass
cache
ip_media
op_media